body {
    margin: 0;
    background-color: rgb(162, 225, 250);
}

p {
    justify-content: center;
    text-align: center;
    padding: auto;
    padding-top: 8px;
    padding-bottom: 4px;
}

.main-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
}

.genius {
    display: grid;
    grid-template-areas: "topLeftGreen topRightRed"
    "bottomLeftYellow bottomRightBlue";
    grid-gap: 10px;
    border: 1px solid white;
    background-color: white;
    border-radius: 100%;
    width: 600px;
    height: 600px;
}

.blue {
    grid-area: bottomRightBlue;
    background-color: blue;
    border-bottom-right-radius: 100%;
}

.red {
    grid-area: topRightRed;
    background-color: red;
    border-top-right-radius: 100%;
}

.yellow {
    grid-area: bottomLeftYellow;
    background-color: yellow;
    border-bottom-left-radius: 100%;
}

.green {
    grid-area: topLeftGreen;
    background-color: green;
    border-top-left-radius: 100%;
}

.selected {
    opacity: 0.4;
}